{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Back to the gridline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="singleSeason">Calculate single season</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="allSeasons">Calculate all seasons</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>//DRIHOMAD</h1>
      <h1>Home advantage calculation from all Formula 1 seasons</h1>
    </div>
  </div>

  <div class="container">
    <div class="row md-4">
      <h2>Explanation</h2>
      <p>The home advantage is calculated with a ratio. The ratio is calculated by comparing every drivers average placement of a season to the placement of his home grandprix.
        <br />We then calculate the percentage of drivers who performed better at home.</p>
      <p>This means in short: <br />
         Home advantage ratio = All drivers with a better placement at home in one season / Total drivers with home grandprix in that season.</p>
    </div>
    <div class="row md-4">
      <h2>Statistics:</h2>
      <ul>
        <li>Total seasons under 50%: {{under}}</li>
        <li>Total seasons equal 50%: {{equal}}</li>
        <li>Total seasons above 50%: {{above}}</li>
        <li>Average home advantage ratio: {{average|round(2)}}</li>
      </ul>
    </div>
    <div class="row md-4">
      <h2>Detailed statistics:</h2>
      <img alt="seasons graph" src="data:image/png;base64,{{ graph }}" />
    </div>
    <div class="row md-4">
      <h3>Explanation of graph</h3>
      <ul>
        <li><b>Blue line:</b> Home advantage ratio in one season</li>
        <li><b>Red line:</b> 50% Home advantage threshold</li>
        <li><b>Green line:</b> Average home advantage ratio of all seasons</li>
      </ul>
    </div>
  </div>
{% endblock %}
