{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Drivers by year result</h1>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Driver</th>
      <th scope="col">Average placement</th>
      <th scope="col">Home placement</th>
    </tr>
  </thead>
  <tbody>
    {% for ind in result.index: %}
    <tr>
      <td>{{result['Driver'][ind]}}</td>
      <td>{{result['Average placement'][ind]}}</td>
      <td>{{result['Home placement'][ind]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
