{% extends "base.html" %}
{% block content %}
<h1 class="display-4">Welcome to //DRIHOMAD!</h1>
<p class="lead">The unique data analyzer to discover if a formula one driver has a home advantage!</p>
<hr class="my-4">
<p style="text-align: center;">By defining a season it will show you all the drivers who had a home grand-prix
  in that season and if they had a better performance than their average season performance.</p>
<form action="{{ url_for('driversByYear') }}" method="GET">
  <div class="mb-3">
    <label for="cars">Choose a season:</label>

    <select class="form-select" name="year" id="year">
      {% for x in range(1950, 2022) %}
        <option value="{{ x }}">{{ x }}</option>
      {% endfor %}
    </select>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
{% endblock %}