{% extends "base.html" %}
{% block content %}

<div>
  <video autoplay muted loop id="Video">
    <source src="static\video\video.mp4" type="video/mp4">
  </video>

  <div class="content">
    <h1 class="display-4">Welcome to //DRIHOMAD!</h1>
  <p class="lead">The unique data analyzer to discover if a Formula 1 driver has a home advantage!</p>
  <hr class="my-4">
    <div class="mb-3">
      <p class="lead">
          <a class="btn btn-secondary btn-lg" href="singleSeason" role="button">Calculate results for a single season</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="allSeasons" role="button">Calculate home advantage for all Formula 1 seasons</a>
    </p>
    </div>
  </div>

  <style>
      #Video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      }

      .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 0px;
      }

  </style>
  {% endblock %}
