{% extends "base.html" %}
{% block content %}
<div>
  <video autoplay muted loop id="Video2">
    <source src="static\video\video.mp4" type="video/mp4">
  </video>

  <div class="content">
    <div class="jumbotron">
      <h1 class="display-4">//DRIHOMAD!</h1>
      <p class="lead">The unique data analyzer to discover if a formula one driver has a home advantage!</p>
      <hr class="my-4">
      <form action="{{ url_for('calculateSingleSeason') }}" method="GET">
        <div class="mb-3">
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
              <label for="cars">Choose a season:</label>

              <select class="form-select" name="year" id="year">
                {% for season in seasons[:-1] %}
                <option value="{{ season['season'] }}">{{ season['season'] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm"></div>
          </div>
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"><input class="btn btn-primary mt-2" type="submit" value="Give me the results!" /></div>
            <div class="col-sm"></div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}